.navContainer {
  background-color: #d4d5d5;
  height: 78px;
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.navText {
  font-family: "Lobster";
  font-size: 35px;
  font-weight: bold;
  color: #6a7d19;
  margin: 20px auto;
  text-decoration: none;
  display: flex;
  padding: 20px 0px;
}
@media only screen and (max-width: 767px) {
  .navContainer{
    width: 100vw;
    height: 65px;
  }
  .navText{
    font-size: 27px;
  }
}